<div class="container">
  <div class="team_image-mobile">
    <img class="mobile" src="../../src/images/Rectangle42051.png" alt="office">
  <div class="team-section">
    
        <div class="left-content">
          <div class="team">
            <h3 class="team_title">A growing team in<span> a city full of energy</span></h3>
            <p class="team_text">Our Lublin office is more than just 
                a workspace – it’s a place where collaboration, ambition, and international trade drive everyday progress. Conveniently located at the intersection of major thoroughfares, our Lublin office offers easy access to key parts of the city, facilitating efficient collaboration 
                and growth.
            </p>
            <div class="map-wrapper">
              <img class="map-mobile" src="../../src/images/Frame35832.png" alt="map">
              <img class="map-dst" src="../../src/images/Frame 35832 (1).png" alt="map">
            </div>
          </div>
        </div>
    
        <div class="team_image">
          <img src="../../src/images/Rectangle 42051 (1).png" alt="office">
        </div>
      </div>
    </div>

  