//location //

.location-container {
    background-color: #95CF2E;
    padding: 30px;
    border-radius: 25px;
    margin-top: 35px;
    width: 322px;
    height: 216px;
    
  
    span {
      font-size: 60px;
    }
  }
  