<div class="location-container">
    <div class="address">
      <h3><span>14</span> NAŁĘCZOWSKA,</br>FLOOR 13
      </h3>

      <p>Lublin Branch</p>
      <p>CZ Office Park A</p>
      <p>20-701,Lublin, Poland</p>
    </div>
  </div>

  <div class="about">
    <h3>A city of innovation with industrial roots </h3>
    <p>Lublin has a long-standing industrial tradition, especially in the food 
      and chemical sectors. Opening our office here strengthens our cooperation with local companies and experts and gives 
      us even more opportunities 
      to grow together. </p>
  </div>
  <div>
    <img src="/images/Rectangle 42051.png" alt="">
  </div>
  
  <div>
    <p>In Lublin, we combine professionalism with a strong team spirit.  Our team here plays an active role in global trading and business development. It’s 
      a fast-paced, ambitious environment where we explore new markets, build long-term partnerships, and contribute directly to Foodcom’s international growth. </p>
  </div>