<div class="container">
  <div class="boss-section">

       <div class="boss-image">
      <img class="boss-mobile" src="../../src/images/Frame35914.png" alt="Boss">
      <img class="boss-dst" src="../../src/images/Frame 35914 (1).png" alt="Boss">
    </div>

       <div class="boss-right">
         <h2 class="boss">INNA <span><br>KAŹMIERCZAK</span></h2>
    
      <div class="right-content">
              <div class="boss_dsc">
          <p class="boss_title">Chief of Lublin Office</p>
          <hr class="underline">
          <p>
            <span>Inna Kaźmierczak</span>, brings over 13 years of experience in international sales and currently leads the commercial team at our Lublin branch. As a trader and team leader, she focuses on business growth, driving results through client development and market expansion. Thanks to her leadership, the Lublin office has quickly become a key contributor to Foodcom’s global operations.
          </p>
        </div>

        
        <div class="boxes">
          <div class="hobby">
            <img src="../../src/images/Frame35921.png" alt="element">
            <h4>Hobby:</h4>
            <li>Books,</li>
            <li>Running,</li>
            <li>Yoga,</li>
            <li>Pilates.</li>
          </div>

          <div class="languages">
            <img src="../../src/images/Frame35925.png" alt="cloud">
            <h4>Languages:</h4>
            <li>Polish,</li>
            <li>English,</li>
            <li>Russian,</li>
            <li>Ukrainian.</li>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
