

<div>
    <h2>INNA KAŹMIERCZAK</h2>
    <img src="/images/Frame 35914.png" alt="">
  </div>

  <div>
    <p>Chief of Lublin Office</p>
    <p>Inna Kaźmierczak, brings over 13 years 
      of experience in international sales and currently leads the commercial team 
      at our Lublin branch. As a trader 
      and team leader, she focuses on business growth, driving results through client development and market expansion. Thanks to her leadership, the Lublin office has quickly become a key contributor 
      to Foodcom’s global operations. </p>
  </div>

  <div>
    <div> HObby  </div>
    <div> Languagesa </div>
  </div>
