<section class="job-offers">

    <div class="container">
        <div class="offers">
            <h3 class="offers_title">If you’re ready for your next challenge -
            <span> we’re just around the corner</span> </h3>
            
        
            <div class="grid">
            <div class="job-offer-card">
                <span class="department">Trade Department</span>
                <h2 class="title">JUNIOR MARKETING MANAGER</h2>
                <p class="location">Warsaw</p>
                <p class="salary"><strong>5000-6000 PLN brutto</strong></p>
            
                <div class="details">
                    <h3 class="contract">Contract:</h3>
                    <p>UZ/UoP</p>
                    <h3 class="experience">Experience:</h3><p>min. 1 rok doświadczenia w Dziale Marketingu</p>
                    </div>
            
                <div class="cta">
                    <img src="../../src/images/short_up.png" alt="">
                </div>
            </div>

            <div class="job-offer-card_transparent">
                <span class="department">Trade Department</span>
                <h2 class="title">JUNIOR MARKETING MANAGER</h2>
                <p class="location">Warsaw</p>
                <p class="salary"><strong>5000-6000 PLN brutto</strong></p>
            
                <div class="details">
                    <h3 class="contract">Contract:</h3>
                    <p>UZ/UoP</p>
                    <h3 class="experience">Experience:</h3><p>min. 1 rok doświadczenia w Dziale Marketingu</p>
                    </div>
            
                <div class="cta">
                    <img src="../../src/images/short_up.png" alt="">
                </div>
            </div>

            <div class="job-offer-card_transparent">
                <span class="department">Trade Department</span>
                <h2 class="title">JUNIOR MARKETING MANAGER</h2>
                <p class="location">Warsaw</p>
                <p class="salary"><strong>5000-6000 PLN brutto</strong></p>
            
                <div class="details">
                <h3 class="contract">Contract:</h3>
                <p>UZ/UoP</p>
                <h3 class="experience">Experience:</h3><p>min. 1 rok doświadczenia w Dziale Marketingu</p>
                </div>
            
                <div class="cta">
                    <img src="../../src/images/short_up.png" alt="">
                </div>
            </div>
           
        </div>
            <div>
                <button class="see-all"> 
                    <img src="../../src/images/short_up.png" alt="">See ALL</button>
            </div>
    </div>

</section>